@{
    ViewData["Title"] = "Our Products";
    ViewData["Message"] = "";
}
<h1>@ViewData["Title"]</h1>
<h5>@ViewData["Message"]</h5>
<hr />
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive prd-img" src="~/images/Evolution-Bags-Logo.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">&nbsp;&nbsp;&nbsp;</div>
    <div class="col-md-10 prd">
        In a time when practically every company is making some type of green or eco-friendly claim, Evolution Trash Bags backs up our promises in a big way, with the first retail line of EPA-compliant and UL ECOLOGO trash bags. 
        <p>&nbsp</p>
        <ul>
            <li>Quality performance, competitively priced, and sustainable!</li>
            <li>Evolution Trash Bags exceed EPA Comprehensive Procurement Guidelines by at least 700%</li>
            <li>Evolution Trash Bags exceed the requirements of the USGBC LEED® Rating Systems</li>
            <li>Evolution Trash Bags are manufactured from at least 70% (third-party certified) Post-Consumer Recycled (PCR) material</li>
            <li><a href="http://onepercentfortheplanet.org/" target="_blank">Proud Member of 1% for the Planet</a></li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3"><img class="productimg" src="~/images/products/TallFrontSM_resized.jpg" /></div>
    <div class="col-md-4 prd">
        <h3>Tall Kitchen Trash Bag</h3>
        <h5>EVO243285&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;White</h5>
        <p>Sustainable white, super stretch, tall kitchen trash bag 24"x32" .85mil 120 bags per box 2 rolls of 60. 
        Perforated bags on rolls for easy separation. Made with 70% Post-Consumer Recycled (PCR) material. 
        The exclusive closed-loop recycling process allows our trash bags to be manufactured at the highest quality. Exceeds EPA Procurement Guidelines by 700%, 
        UL ECOLOGO certified and counts toward LEED. Proud members of 1% for the Planet. 
        Packaging is made up of a minimum of 30% recycled material and is 100% recyclable.  Made in the U.S.A.
        </p>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-sm-7">
                <p>
                    13 Gallon (49.2 Liter)<br />
                    .85 mil (21.59 µm) Thick<br />
                    24" (61cm) Wide<br />
                    32" (81cm) Long<br />
                    120 bags per box<br />
                    2 rolls of 60<br />
                    SKU: EVO243285
                </p>
            </div>
            <div class="col-sm-5">
                <a class="btn btn-default btn-default btn-label" href="http://www.amazon.com" target="_blank">
                    Order on&nbsp;&nbsp;<img src="~/images/social/amazonBasket_4btn.png" alt="available through Amazon.com" />
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
@*<div class="row">
    <div class="col-md-3">&nbsp;&nbsp;&nbsp;</div>
    <div class="col-md-4 prd">
        <h3>Lawn &amp; Leaf Bag</h3>
        <h5>EVO38754511&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Black</h5>
        <p>Product description goes here.</p>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-sm-7">
                <p>
                    38.75 in x 45 in<br />
                    1.1 mil ()<br />
                    50 bags per box<br />
                    1 roll of 50
                </p>
            </div>
            <div class="col-sm-5">
                <a class="btn btn-default btn-default btn-label" href="http://www.amazon.com" target="_blank">
                    Order on&nbsp;&nbsp;<img src="~/images/social/amazonBasket_4btn.png" alt="available through Amazon.com" />
                </a>
            </div>
        </div>
    </div>
</div>
<hr />*@
<div class="row">
    <div class="col-md-3"><img class="productimg" src="~/images/products/RhinoFrontSM_resized.jpg" /></div>
    <div class="col-md-4 prd">
        <h3>White Rhino Super Tough Trash Bag</h3>
        <h5>EVO32442&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;White Heavy Duty</h5>
        <p>Sustainable white, super tough, heavy duty trash bag 32"x44" 2mil 32 bags per box 2 rolls of 16.  
        Perforated bags on rolls for easy separation. Made with 94% Post-Consumer Recycled (PCR) material. 
        The exclusive closed-loop recycling process allows our trash bags to be manufactured at the highest quality. 
        Exceeds EPA Procurement Guidelines by 940%, UL ECOLOGO certified and counts toward LEED. 
        Proud members of 1% for the Planet. Packaging is made up of a minimum of 30% recycled material and is 100% recyclable.  
        Made in the U.S.A.        
        </p>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-sm-7">
                <p>
                    42 Gallon (158 Liter)<br />
                    2 mil (50.8 µm) Thick<br />
                    32" (81cm) Wide<br />
                    44" (112cm) Long<br/>
                    32 bags per box<br />
                    2 rolls of 16<br />
                    SKU: EVO32442
                    </p>
            </div>
            <div class="col-sm-5">
                <a class="btn btn-default btn-default btn-label" href="http://www.amazon.com" target="_blank">
                    Order on&nbsp;&nbsp;<img src="~/images/social/amazonBasket_4btn.png" alt="available through Amazon.com" />
                </a>
            </div>
        </div>
    </div>
</div>


