@{
    ViewData["Title"] = "Manufacturing Process";
    ViewData["Message"] = "";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>


<h4>The Closed Loop Recycling Process</h4>
<ul>
    <li>Over 100 million pounds of polytube waste kept out of landfills each year</li>
    <li>Highest quality 100% post-consumer recycled (PCR) resin produced</li>
    <li>High-performance trash bags <i>without costing more</i> than traditional trash bags</li>
</ul><img src="~/images/closedlooprecycling.gif" alt="Closed loop recycling diagram" />
<p>&nbsp;</p>
<h1>Environmental Impact</h1>
Production and use of Evolution Trash Bags results in lower environmental impacts across the board when compared to trash bags made without post-consumer recycled (PCR) content. 
<p>See what your potential impact to the environment can be by using our <a asp-controller="Learn" asp-action="ImpactCalculator"> Environmental Impact Calculator</a></p>
<p>&nbsp;</p>
<img src="~/images/slides/lifecycleassesment.jpg" alt="Lower environmental impact"/>
<p>&nbsp;</p>
<p>LCA Study proves that production and use of 100,000 trash bags, from our production partner, made with 70% post-consumer recycled content results in lower environmental
    impacts when compared to trash bags made without recycled content. Environmental Preferable Products (EPP) and services have
    a lesser or reduced negative effect on human health and the environment when compared with competing products or services that
    serve the same purpose. This comparison applies to raw materials, manufacturing, packaging, distribution use, reuse, operation,
    maintenance, and disposal. Environmental Preferable Products possess more than one environmentally friendly attribute.</p>

