
@{
    ViewData["Title"] = "Our Blog";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>
<p>&nbsp;</p>
<h2>One Simple Term That Could Reduce Millions of Tons of Landfill Waste</h2>
<p>Most people don’t have time to research all of the products they use. They make quick decisions based on the available information. It should be easy to make environmentally friendly choices. The problem is, in an attempt to position products as green, several companies have recently introduced biodegradable products made from conventional (petroleum-based) plastics. </p>
<h3>Conventional plastics are not truly biodegradable<sup>*</sup></h3>
<p>Conventional plastics never really go away. Unfortunately, they end up piled in a landfill where usually nothing biodegrades. <b>Landfill researchers have found 150-year-old newspapers that are still legible</b>. Landfills are anaerobic (without oxygen), and oxygen is necessary for biodegradation.</p>
<p>What’s worse is that, if conventional plastics were to break down in this oxygen-free environment, they'd emit methane, a greenhouse gas 23 times more potent than CO<sup>2</sup>. Methane is harmful to human health and the environment. It’s a precursor to smog.</p>
<p>Today practically every company is making some type of green or eco-friendly claim. Understand this simple term to choose products that reduce the 33.6 million tons of plastic waste in landfills each year:</p>
<h3>Post-Consumer Recycled (PCR) Material</h3>
<p><i>From here on I'll use trash bags as a real example.</i></p>
<p><b>Choose products made with Post-Consumer Recycled material</b>. PCR is a material that has served its intended use and has been diverted or recovered from waste destined for a landfill (the products people use and throw away).</p>
<p>Most trash bags are made from virgin resin, a manufacturing process which requires burning fossil fuels. There is no environmental benefit because the content would have been used regardless. It was not destined for the landfill.</p>
<p>Evolution Trash Bags are manufactured from used irrigation polytubes. We collect the tubing from farms throughout North America—saving 100 million pounds of waste from landfills each year.</p>
<p>Using post-consumer recycled content results in lower environmental impact compared to trash bags made without recycled content.</p>
<h3>Two Things You Can Do Right Now</h3>
<ol type="1">
    <li>Be aware of greenwashing: companies making unsubstantiated claims that their product is environmentally-friendly, green, or sustainable. </li>
    <li>Choose products made with PCR material.</li>
</ol>
<p>Evolution Trash Bags are manufactured with the highest percentage of (third-party certified) post-consumer recycled (PCR) material.</p>
<p>We have taken it one step further by becoming proud members of 1% for the Planet. For every sale from our Tall Kitchen Trash Bag and White Rhino Super Tough Trash Bag we will donate 1% of our revenue to the non profit organizations dedicated to protecting the environment.</p>
<p>One more action you can take: share this article with an eco-conscious friend, or visit EvoBags.com to reduce landfill waste now.</p>
<p>&nbsp</p>
<p><sup>*</sup>Plastics that meet <a href="http://www.astm.org/Standards/D6400.htm" target="_blank">ASTM D6400 standards</a> (American Society for Testing and Materials) can be certified as biodegradable and compostable in commercial composting facilities. </p>
<p><sup>**</sup>The EPA guideline requires a minimum PCR content of 10%. Our Evolution Tall Kitchen Trash Bags exceed the guideline by 700%, and our White Rhino Super Tough Trash Bag by 940%.</p>
<p><sup>***</sup>Evolution Trash Bags are UL ECOLOGO Certified for reduced environmental impact. Learn more about <a href="http://industries.ul.com/environment/certificationvalidation-marks/ecologo-product-certification" target="_blank">UL ECOLOGO Certifications</a>.</p>
<p>Every Evolution Trash Bags product exceeds the necessary standards to earn your business or building LEED points. More information about <a href="http://www.usgbc.org/leed" target="_blank">USBGC LEED</a>.</p>


