@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>
<div class="col-md-6">
    <h4>Send us an Email</h4>
    <address>
        <strong>Information:</strong> <a href="mailto:Info@evolutionbags.com">info@evolutionbags.com</a><br />
    </address>
    <p>&nbsp;</p>
   
</div>
@*
    <address>
        <strong>Support:</strong> <a href="mailto:info@evolutionbags.com">info@evolutionbags.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:info@evolutionbags.com">info@evolutionbags.com</a>
    </address>
*@