@{
    ViewData["Title"] = "Infographic";
}
<h1>@ViewData["Title"]</h1>
@*<h2>@ViewData["Message"]</h2>*@
<div class="infographic-bkgd">
    <div class="row inforow">
        <div class="col-md-9">
            <img class="img-responsive" src="~/images/infographic/sustainability.png" alt="Environmental Sustainability" />
        </div>
    </div>
    <div class="row inforow">
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/infographic/StandardsMatter_6.png" alt="Environmental Sustainability Guidelines, Standards, and Certifications" />
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/infographic/Beware-of-Greenwashing_6.png" alt="Greenwashing is a misrepresentation of environmental accountability" />
        </div>
    </div>
    <div class="row inforow">
        <div class="col-md-5">
            <img class="img-responsive" src="~/images/infographic/How-Many-lady-with-bags_5.png" />
        </div>
        <div class="col-md-7">
            <img class="img-responsive" src="~/images/infographic/Indianapolis_7.png" />
        </div>
    </div>
    <div class="row inforow">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="infofooter">
        More information available from:
        <ul>
            <li><a href="https://www.ftc.gov/sites/default/files/documents/federal_register_notices/guides-use-environmental-marketing-claims-green-guides/greenguidesfrn.pdf" target="_blank">Federal Trade Commission Green Guide</a></li>
            <li><a href="http://www.ul.com/global/documents/offerings/businesses/environment/press/ULE_plasticfilmstandard.pdf" target="_blank">UL 126 Biodegradability Claims added to Revised Standard for Garbage Bags and Retail Bags </a></li>
        </ul>
    </div>
</div>