@{
    ViewData["Title"] = "Certifications And Associations";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<h4>ECOLOGO</h4>
<p>UL 126</p>
<div class="col-md-12">
    <div class="col-md-3">
        <p><a href="http://productguide.ulenvironment.com/SearchResults.aspx?CategoryID=72&BrandID=2518" target="_blank"><img src="~/images/certifications/ECOLOGO-Marks-for-Landing-Pages-WP_RGB.png" /></a></p>
    </div>
    <div class="col-md-6">
        <p>UL ECOLOGO Certified products, services and packaging are certified for reduced environmental impact. UL ECOLOGO Certifications are voluntary, multi-attribute, lifecycle based environmental certifications that indicate a product has undergone rigorous scientific testing, exhaustive auditing, or both, to prove its compliance with stringent, third-party, environmental performance standards.</p>
        <p>These standards set metrics for a wide variety of criteria in some or all of the following categories: materials; energy; manufacturing and operations; health and environment; product performance and use; and product stewardship and innovation.</p>
        <p>Learn more about <a href="http://industries.ul.com/environment/certificationvalidation-marks/ecologo-product-certification" target="_blank">ECOLOGO<sup>&reg;</sup> product certification</a></p>
    </div>
</div>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<h4>USGBC LEED</h4>
<p>Leadership in Energy and Environmental Design</p>
<div class="col-md-12">
    <div class="col-md-3">
        <p><img src="~/images/certifications/leed usgbc.png" /></p>
    </div>
    <div class="col-md-9">
        <p>Every Evolution Trash Bags product exceeds the necessary standards to earn your business or building LEED points.</p>
        <p>More information about <a href="http://www.usgbc.org/leed" target="_blank">USBGC LEED</a></p>
    </div>
</div>
<p>&nbsp;</p>
<hr />
<h4>EPA (Environmental Protection Agency)</h4>
<p>Government Mandate</p>
<div class="col-md-12">
    <div class="col-md-3">
        <p></p>
    </div>
    <div class="col-md-9">
        <p>The Environmental Protection Agency (EPA) has a number of mandates, procurement and consumer guides for trash bags made from post-consumer recovered material including content with HDPE, LDPE, and LLDPE. </p>
        <p>Every Evolution Trash Bags product exceeds the government mandate for minimum post-consumer recycled (PCR) content. </p>
        <p>&nbsp;</p>
        <p>Click for more information on EPA <a href="https://www.epa.gov/smm/comprehensive-procurement-guidelines-non-paper-office-products#06" target="_blank">procurement guidelines.</a></p>
    </div>
</div>
<p>&nbsp;</p>
<hr />
<h4>1% for the Planet</h4>
<p>1% is a REALLY BIG number!</p>
<div class="col-md-12">
    <div class="col-md-3">
        <p><img src="~/images/certifications/1PctMember_VerticalLogo_small.png"/></p>
    </div>
    <div class="col-md-9">
        <p>Each time you purchase a product that features the 1% for the Planet logo, 1% of that sale goes to a global network 
        of nonprofit organizations dedicated to protecting the environment.</p>
        <p>&nbsp</p>
        <p>With over $130 million given so far, 1% really is a big number.</p>
        <p>&nbsp;</p>
        <p>Learn more about <a href="http://onepercentfortheplanet.org/" target="_blank">1% for the Planet </a></p>
    </div>
</div>




