@{
    ViewData["Title"] = "What makes Evolution Trash Bags so special?";
    ViewData["Message"] = "Videos, brochures, and additional information";
}
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="~/images/logo/testevobags_logo.png" alt="logo for Evolution Trash Bags" />
    </div>
</div>


<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>
<h4>The Closed-loop Recycling Process</h4>
<ul>
    <li>Over 100 million pounds of polytube waste kept out of landfills</li>
    <li>Highest quality 100% post-consumer recycled (PCR) resin produced</li>
    <li>High-performance can liners <i>without costing more</i> than traditional can liners</li>
</ul><img src="~/images/closedlooprecycling.png" alt="Closed loop recycling diagram" />
<p>&nbsp;</p>

<p>&nbsp;</p>
<iframe width="854" height="480" src="https://www.youtube.com/embed/18zspitMOYk" frameborder="0" allowfullscreen>Watch the video</iframe>
<p>
    For additional information please <a href="~/media/revbag company brochure and lca-a - 11-2015.pdf" target="_blank" download="EvolutionBag brochure.pdf">download the brocure</a>
</p>
