
@{
    ViewData["Title"] = "Glossary of Terms";
}
<h1>@ViewData["Title"]</h1>
<p>&nbsp;</p>
<p>The following terms are used extensively throughout our site and by organizations striving for sustainability. We want to make sure that everyone understands the terms so that we are all on the same page.</p>
<p>&nbsp;</p>
<h4><b>Compostable</b></h4>
<p>Under a composting program, the product must:</p>
<ul>
    <li>Break down to carbon dioxide, water, inorganic compounds and biomass at a rate similar to paper</li>
    <li>Disintegrate into small pieces within 90 days so that the original product is not visually distinguishable in the compost</li>
    <li>Leave no toxic residue</li>
</ul>
<h4><b>Biodegradable</b></h4>
<p>Capable of disintegration by biological means; typically, composed of organic matter that can be readily decomposed by a wide variety of microorganisms; technically, composed of almost any material since with enough time, some microorganisms can decompose almost anything; for example, aluminum cans will biodegrade in the ocean in about 175 years, and hard plastic bottle caps will biodegrade in the ocean in about 400 years. </p>
<h4><b>Closed Loop</b></h4>
<p>Production system in which the waste or byproducts of one process or products is used in making another product. </p>
<h4><b>Environmentally Preferable Products (EPP)</b></h4>
<p><i>Environmentally Preferable Products</i> and services have a lesser or reduced negative effect on human health and the environment when compared with competing products or services that serve the same purpose. Environmentally preferable products possess more than one environmentally friendly attribute.</p>
<h4><b>Green Washing</b></h4>
<p>When a company, government or other group promotes green-based environmental initiatives or images but actually operates in a way that is damaging to the environment or in an opposite manner to the goal of the announced initiatives. This can also include misleading customers about the environmental benefits of a product through misleading advertising and unsubstantiated claims.</p>
<h4><b>Irrigation Tubing</b></h4>
<p>A system of crop irrigation involving the controlled delivery of water directly to plants through a network of plastic tubing.</p>
<h4><b>Lifecycle Assessment (LCA)</b></h4>
<p>A <i>Life-cycle assessment</i> is a technique to assess environmental impacts associated with all the stages of a products life from cradle to grave (i.e., from raw material extraction through materials processing, manufacture, distribution, use, repair and maintenance, and disposal or recycling)</p>
<h4><b>Post-Consumer Recycled (PCR)</b></h4>
<p>Once a material or finished product has served its intended use and has been diverted or recovered from waste destined for disposal, it is then considered "post-consumer." Having completed its life as a consumer item, it can then be recycled as such.</p>
<h4><b>Sustainable</b></h4>
<p>The quality of not being harmful to the environment or depleting natural resources, and thereby supporting long-term ecological balance.</p>
<h4><b>Pre-Consumer Recycled Content</b></h4>
<p>Pre-consumer recycled content (Post-Industrial) is the percentage of materials in a product that is recycled from manufacturing waste. Examples include planer shavings, sawdust, trimmed materials, and obsolete inventories-never used by consumers.</p>
<h4><b>Third-Party Certification</b></h4>
<p>An independent organization has reviewed the manufacturing process of a product and has independently determined that the final product complies with specific standards for safety, quality or performance</p>
<h4><b>Underwriters Laboratory (UL) </b></h4>
<p>Underwriters Laboratory is a global independent safety science company with more than a century of expertise innovating safety solutions from the public adoption of electricity to new breakthroughs in sustainability, renewable energy and nanotechnology. Dedicated to promoting safe living and working environments, UL helps safeguard people, products and places in important ways, facilitating trade and providing peace of mind.</p>
<p>&nbsp;</p>