@{
    ViewData["Title"] = "Learn More";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-6">
        <h2>Evolution Trash Bags</h2>
        <p>Evolution Trash Bags is the first complete line of EPA-compliant trash can liners that don't cost more and perform just as well as bags produced with virgin resin. Now you can meet EPA mandates, capture LEED points and get a really great bag in the process. With Evolution Bags, the decision to go green is really no decision at all.</p>
        <h4>Strong, Durable, and Eco-Friendly are all in the bag.</h4>
        <a asp-controller="Learn" asp-action="EvolutionBags">Videos, brochures, and more information here</a>
    </div>
    <div class="col-md-6">
        <h2>NaturTec</h2>
        <a asp-controller="Learn" asp-action="NaturTec">Videos, brochures, and more information here</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Certifications</h2>
        <p></p>
    </div>
    <div class="col-md-6">
        <h2>Guidelines and Standards</h2>
        <p>In the United States the consumer protection agency the Federal Trade Commission (FTC) periodically publishes its <a href="https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/guides-use-environmental-marketing-claims" target="_blank">"Green Guides"</a> which are issued to help marketers ensure that the claims they are making are true and substantiated. When products are found to be deceptive in their claims, the FTC issues warnings and can file lawsuits against the companies falsely marketing their products.</p>
        <a href="https://www.ftc.gov/news-events/press-releases/2013/10/ftc-cracks-down-misleading-unsubstantiated-environmental" target="_blank">FTC Press Release on unsubstantiated environmental marketing claims</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"><hr/></div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Green terminology and what it actually means</h2>
        <p>
            Thousands of products labeled with terms such as “biodegradable”, “biobased,” and “compostable,” are being
            developed for a variety of applications. However, there is still much confusion driven by the
            misunderstanding on terms like biodegradability, oxo-degradability, anaerobic digestion, landfill
            degradation, and marine biodegradation. Claims are made without substantiation with hard scientific data or the
            data provided has little or nothing to do with substantiating biodegradation.
        </p>
        <h5>Compostability: Fragmentation and Biodegradation</h5>
        <p>
            Composting is a two-step process including fragmentation and biodegradation. Composting is the biological process
            of breaking up organic matter such as food, manure, leaves, grass trimmings, paper, coffee grounds, and bioplastics,
            etc., resulting in biomass (nutrient rich soil amendments). Fragmentation is the first step in this process when we
            notice material turning into smaller pieces. The second step is biodegradation when oxygen breathing microbes
            (micro-organisms) consume the organic matter as food and convert it into biomass, water, and carbon dioxide (CO2).
            <h6>Biodegradability</h6> – Complete assimilation of the fragmented product as a food source by the soil microorganisms.
            <h6>Compostability</h6> – Complete assimilation within 180 days in an industrial compost environment.
        </p>

    </div>
    <div class="col-md-6">
        <h5>What to Watch Out For - Additive Technologies</h5>
        <p>
            Due to the lack of enforcement, and the pace at which the bioplastics industry is growing, you may run into
            deceptive technologies that market themselves as being compostable or biodegradable. In both film extrusion and
            injection molding applications, there are additive technologies where bio-additives (such as starch) are added to
            traditional plastics such as Polyethylene (PE), Polypropylene (PP), and Polystyrene (PS) and are falsely marketed
            as compostable and biodegradable. Since these products are made up largely of traditional plastics, they tend to be
            cheaper than genuine compostable products and are neither compostable nor biodegradable. <strong>
                There are absolutely
                no benefits from using oxo-degradable plastic bags.
            </strong>
        </p>
        <h5>Environmental Impact of “Oxo” Biodegradable</h5>
        <p>
            Additives in these products contain biomaterial such as starch and transition metals such as cobalt,
            manganese, iron, etc. These additives cause fragmentation as a result of a chemical oxidation of the
            plastics’ polymer chains triggered by UV irradiation or heat exposure. The resulting fragments are
            “claimed” to eventually undergo biodegradation. However, as these products are made from
            traditional plastics, no further biodegradation will occur. If these products end up in a compost
            facility, they will negatively affect the quality of the compost and facility operations. Plastic fragments
            also contribute to the plastic contamination in water tributaries and oceans resulting in bio-accumulation
            throughout the ecosystem. Both of these are operationally and environmentally costly.
        </p>
        <sub>Text courtesy of NORTHERN TECHNOLOGIES INTERNATIONAL CORPORATION</sub>
    </div>
</div>